<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/game.css">
    <meta property="og:title" content="Playrooms : Questions pour des pigeons">
    <meta property="og:description" content="Jouez en ligne avec vos amis ! Jouable de 4 à 10 joueurs, ce jeu se joue en équipe et demande de la créativité !">
    <meta property="og:image" content="http://playrooms.fr/img/Icon.png">
    <meta property="og:url" content="http://playrooms.fr/">
    <title>Questions pour des pigeons !</title>
</head>
<!--
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣶⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⠿⠟⠛⠻⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣆⣀⣀⠀⣿⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠻⣿⣿⣿⠅⠛⠋⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢼⣿⣿⣿⣃⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣟⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣛⣛⣫⡄⠀⢸⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣾⡆⠸⣿⣿⣿⡷⠂⠨⣿⣿⣿⣿⣶⣦⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣾⣿⣿⣿⣿⡇⢀⣿⡿⠋⠁⢀⡶⠪⣉⢸⣿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣿⣿⣿⣿⡏⢸⣿⣷⣿⣿⣷⣦⡙⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⣿⣷⣦⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣵⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⡁⠀⠀

                           Never Gonna Give You Up
-->
<body>
    <div class="base">
        <div class="background"></div>
        <div class="loading page" hidden>
            <div class="box">
                <h2>Chargement...</h2>
            </div>
        </div>
        <div class="error page" hidden>
            <div class="box">
                <h2>Déconnexion ⚠️</h2>
                <div>
                    <p>Tu as été deconnecté !</p>
                    <p><a href>Recharger</a> ou <a href="/">Retourner à l'acceuil</a></p>
                </div>
            </div>
        </div>
        <div class="lobby page" hidden>
            <div class="players-container box">
                <h2>Partie de Nickname</h2>
                <p class="players-counter">1/10 joueurs dans le lobby</p>
                <div class="scrollable"></div>
                <p class="game-status">En attente de l'hôte...</p>
                <button id="start" disabled hidden>Démarrer la partie</button>
            </div>
        </div>
        <div class="profile page" hidden>
            <div class="top">
                <h1>Questions pour des <br>Pigeons</h1>
            </div>
            <div class="main">
                <div class="room-form box">
                    <form>
                        <header><h2>Rejoindre un salon :</h2></header>
                        <div class="player-entry">
                            <input type="file" id="picture-upload" hidden>
                            <div class="profile-picture upload"></div>
                            <div class="nickname-entry">
                                <h3>Choisis un surnom</h3>
                                <input id="nickname" type="text" placeholder="Benslimoune" minlength="2" maxlength="15" autocomplete="off" required="required" spellcheck="false">
                            </div>
                        </div>
                        <button id="play">Jouer</button>
                    </form>
                </div>
                <div class="rules box">
                    <h2>Comment Jouer ?</h2>
                    <div>
                        2 équipes vont s'affronter à tour de rôle, à chaque tour, 
                        les équipes vont obtenir une carte contenant une question avec la réponse associée,
                        elles devront inventer 2 fausses réponses, l'équipe adverse
                        devra alors parier l'intégralité de ses jetons sur une ou plusieurs
                        réponses, les jetons placés sur les mauvaises réponses sont perdus,
                        l'équipe qui ne possède plus de jetons perd.
                    </div>
                </div>
            </div>
        </div>
        <div class="game page" hidden>
            <div class="top">
                <h1>Questions pour des <br>Pigeons</h1>
                <div id="countdown" hidden>
                    <div>60</div>
                    <svg>
                        <!-- changer la taille du cercle -->
                        <circle r="18" cx="20" cy="20"></circle>
                    </svg>
                </div>
            </div>
            <div class="main">
                <div class="wait-view">
                    <div class="box">
                        En attente des autres joueurs...
                    </div>
                </div>
                <div class="teams-view" hidden>
                    <div class="teams-container">
                        <div class="team-container"></div>
                        <div class="versus-wrapper">
                            <h2>VS</h2>
                        </div>
                        <div class="team-container"></div>
                    </div>
                    <div class="start-wrapper">
                        <h3>La partie va bientôt commencer<span>.</span><span>.</span><span>.</span></h3>
                    </div>
                </div>
                <div class="questions-view" hidden>
                    <div class="challenge-container">
                        <div class="challenge-card">
                            <div class="card-face front">
                                <h2>Questions pour des <br>pigeons</h2>
                            </div>
                            <div class="card-face back">
                                <p class="card-question"></p>
                                <p class="card-answer"></p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p>Entre ta réponse :</p>
                        <input id="challenge-answer" type="text" placeholder="Invente une réponse bidon ou crédible" minlength="2" maxlength="60" autocomplete="on" spellcheck="false">
                        <button id="btn-valid-challenge">Valider</button>
                    </div>
                </div>
                <div class="vote-view" hidden>
                    <p>Sélectionnez les 2 meilleurs réponses !</p>
                    <div class="challenge-container">
                        <div class="challenge-card flipped">
                            <div class="card-face front">
                                <h2>Questions pour des <br>pigeons</h2>
                            </div>
                            <div class="card-face back">
                                <p class="card-question"></p>
                                <p class="card-answer"></p>
                            </div>
                        </div>
                    </div>
                    <p>Vote en cliquant sur ta réponse préférée :</p>
                    <div class="challenges-container"></div>  
                </div>
                <div class="challenges-view" hidden>
                    <div class="popup" id="challenges-result-popup" hidden>
                        <div class="box">
                            <h2>Bilan des points : </h2>
                            <div>
                                <p>16</p>
                                <p>16</p>
                            </div>
                        </div>
                    </div>
                    <p id="challenges-state"></p>
                    <div class="challenge-container">
                        <div class="challenge-card">
                            <div class="card-face front">
                                <h2>Questions pour des <br>pigeons</h2>
                            </div>
                            <div class="card-face back">
                                <p class="card-question"></p>
                                <p class="card-answer"></p>
                            </div>
                        </div>
                    </div>
                    <p id="challenges-instructions"></p>
                    <div class="challenges-container"></div> 
                </div>
                <div class="end-view" hidden>
                    
                </div>
            </div>
        </div>
    </div>
    <button id="message-toggle" class="round notifier" data-number=0>💭</button>
    <div id="message-container" class="box notifier">
        <div class="message-list">
            <div class="message">
                <div class=""></div>
            </div>
        </div>
        <input id="message-input" type="text" placeholder="Entrez votre message d'amour" minlength="2" maxlength="140" autocomplete="on" spellcheck="false">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/animejs/anime.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>