/*=========== Google Fonts ==========*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka:wght@300;400;500&display=swap');

/*============ Variables CSS ============*/

:root {

    /*============ Couleurs ============*/

    --first-color: rgb(65, 126, 255);
    --second-color: rgba(3, 8, 103, 1);
    --background-gradient: linear-gradient(120deg, var(--first-color) 0%, var(--second-color) 100%);
    --reverse-background-gradient: linear-gradient(120deg, var(--second-color) 0%, var(--first-color) 100%);
    --text-color: rgb(255, 255, 255);
    --dark-text-color: rgb(85, 84, 84);
    --shadow-box: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*============ Fonts et typo ============*/

    --title-font: 'Courgette', cursive;
    --main-font: 'Fredoka', sans-serif;
    --biggest-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --bigger-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.25rem;
    --samllest-font-size: 0.125rem;

    /*============ Fonts weight ============*/

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;

    /*============== Effects ===============*/

    --blur: blur(5px);

    -webkit-font-smoothing: antialiased;
}

/*============ Responsive ============*/

@media screen and (min-width:1000px) {
    :root {
        --biggest-font-size: 4rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.75rem;
        --bigger-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 0.5rem;
        --samllest-font-size: 0.25rem;
    }
}

/*============ Base ============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*[hidden] {
    display: none !important;
}

/*============ Base Components ============*/

h1,
h2,
h3,
div {
    user-select: none;
}

button,
textarea,
input,
select,
.upload,
a {
    color: var(--first-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:visited {
    color: var(--first-color);
}

h1 {
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    text-align: center;
    text-shadow: 0 0 1rem black;
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

div {
    display: block;
}

.scrollable {
    overflow-y: auto;
    overflow-x: visible;
}

/*============ Inputs ============*/

input {
    padding: 0.7rem;
    background-color: rgba(255, 255, 255, 0.825);
    border-radius: 10px;
    border: solid 2px var(--dark-text-color);
    font-family: inherit;
    font-size: inherit;
    /* margin-top: 0.5rem; */
    color: var(--dark-text-color);
    outline: none;
    user-select: text;
    -webkit-user-select: text;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

input:focus {
    box-shadow: var(--shadow-box);
}

input:disabled {
    background-color: rgba(220, 220, 220, 0.825);
}

button {
    color: var(--text-color);
    padding: 0.7rem;
    background-color: var(--first-color);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-top: 0.5rem;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    width: 100%;
    font-weight: var(--font-medium);
    box-shadow: var(--shadow-box);
}

button:hover {
    background-color: var(--second-color);
    /* filter: brightness(0.85); */
}

button:disabled {
    background-color: rgb(154, 154, 154);
    cursor: default;
}

button.round {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 2rem;
    /* line-height: ; */
}

/* Notifier */

button.round.notifier {
    z-index: 11;
    left: 1rem;
    position: absolute;
    bottom: 1rem;
}

button.round.notifier.active::after {
    content: attr(data-number);
    position: relative;
    right: -30px;
    top: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: red;
    color: white;
    font-size: 1rem;
}

.box.notifier.active {
    width: 80%;
    height: 45%;
    display: flex !important;
    flex-flow: column;
}

.box.notifier {
    display: none !important;
    left: 3rem;
    bottom: 3rem;
    position: absolute;
    z-index: 10;
    padding: 0;
}

.box.notifier input {
    margin: 1rem;
}

.message-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.message-list p {
    font-size: 1rem;
    overflow-wrap: break-word;
}

.message-list h3 {
    font-size: 1.15rem;
}

.message-list>div {
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    display: flex;
    flex-flow: row;
    box-shadow: var(--shadow-box);
}

.message-list>div.message-my {
    background: var(--background-gradient);
    justify-content: space-between;
}

.message-list>div.message-other {
    background-color: white;
    color: var(--dark-text-color);
}

.message-list>div>div {
    display: flex;
    flex-flow: column;
    justify-content: start;
}

.message-list>div>div.content {
    max-width: 85%;
}

.message-list .profile-picture {
    min-width: 32px;
    min-height: 32px;
}



.box {
    background-color: rgba(255, 255, 255, 0.825);
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    padding: 1rem;
    color: var(--dark-text-color);
    margin: 0.5rem;
}

.upload {
    cursor: pointer;
}

.profile-picture {
    min-width: 128px;
    min-height: 128px;
    border-radius: 50%;
    box-shadow: var(--shadow-box);
    background-size: cover;
    background-image: url("/img/avatars/guest.jpg");
}

.profile-picture.upload::before {
    width: 128px;
    height: 84px;
    padding-top: 44px;
    position: absolute;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452);
    content: 'Upload';
    color: var(--text-color);
    font-size: 2rem;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.profile-picture:hover.upload::before {
    opacity: 1;
}


.player-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 10px;
}

.player-container .profile-picture {
    min-width: 64px;
    min-height: 64px;
    margin-right: 1rem;
}

#countdown {
    position: absolute;
    right: 3rem;
    top: 5rem;
}

#countdown>div {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 2.5rem;
}

#countdown>svg {
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown>svg>circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
}

/*============ Dom ============*/

body {
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    background: var(--background-gradient);
    color: var(--text-color);
    overscroll-behavior: contain;
}

.page {
    flex: 1;
    z-index: 1;
}

.base {
    display: flex;
    flex-flow: row;
    /* min-height: fill-available; */
    min-height: 100vh;
}

/*============ Background ============*/

.base>.background {
    /* display: none; */
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.base>.background div {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 50%;
    filter: var(--blur);
}

/*============ Responsive ============*/

@media screen and (min-width:1000px) {

    /* .base > .background{
        display: block;
    } */
    #countdown {
        top: auto;
    }


    .box.notifier.active {
        width: 30%;
        min-height: 50%;
    }
}