body > .base{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Game Component */

/* Card component */

.challenge-container{
    perspective: 800px;
    width: 350px;
    height: 200px;
}

.challenge-card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}
  
.challenge-card.flipped {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
  
.challenge-card > .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    text-align: center;
    border: 10px solid #fff;
    border-radius: 10px;
    padding: 1rem;
}
  
.challenge-card > .card-face.front {
    background: var(--reverse-background-gradient);
    color: white;
}
  
.challenge-card > .card-face.back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* Error Page */

.error.page{
    backdrop-filter: var(--blur);
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.error.page .box{
    text-align: center;
}

.error.page .box > div p{
    margin-top: 0.5rem;
}

/* Loading page */

.loading.page{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* profile page */

.profile.page .top{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile.page .main{
    display: flex;
    flex-flow: column;
}

.profile.page .main .room-form{
    display: flex;
    flex-flow: column;
}

.profile.page .main .player-entry{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0.5rem;
}

.profile.page .main .player-entry > .profile-picture{
    margin-right: 0.5rem;
}

.profile.page .main .nickname-entry{
    width: 100%;
}

.profile.page .main .nickname-entry > h3{
    padding: 0.3rem 0 0.3rem 0;
}

#nickname{
    width: 100%;
}

.profile.page .main .rules{
    max-width: 320px;
    /* max-height: ; */
}

.profile.page .main .rules > h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Lobby page */

.lobby.page{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.lobby.page .players-container{
    display: flex;
    flex-flow: column;
    /* height: 80vh; */
    max-height: 80vh;
    overflow: visible;   
}

.lobby.page .players-container .scrollable p{
    font-size: var(--bigger-font-size);
}

.lobby.page .players-container .scrollable p.offline{
    font-style: italic;
}

.lobby.page .players-container .scrollable{
    height: 100%;
    border-radius: 10px;
}

.lobby.page .players-container > p {
    text-align: center;
    padding-top: 0.7rem;
}

/* Game Page */

.game.page{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.game.page .top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
    max-height: 20vh;
}

.game.page .top > h1{
    font-size: 2.5rem;
}

.game.page .main{
    height: 80vh;
    width: 100%;
}

/* Wait Part */

.game.page .wait-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}


/* Teams Part */

.game.page .teams-view{
    height: 80%;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.game.page .teams-view .teams-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.game.page .teams-view .versus-wrapper > h2{
    font-size: 3rem;
}

.game.page .teams-view .team-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-height: 40%;
    width: 90%;
    flex-wrap: wrap;
}

.game.page .teams-view .start-wrapper{
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
}

.game.page .teams-view .start-wrapper span{
    display:inline-block;
}

.game.page .teams-view .player-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0;
    border-radius: 0;
}

.game.page .teams-view .player-container .profile-picture{
    min-width: 64px;
    min-height: 64px;
    margin-right: 0;
}

/* Questions Part */

.game.page .questions-view{
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    height: 90%;
}

.game.page .questions-view > .box{
    width: 350px;
}

#challenge-answer{
    width: 100%;
}

/* Vote part */

.game.page .questions-view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


@media screen and (min-width:1000px) {
    /* Game Component */

    .challenge-container{
        perspective: 800px;
        width: 400px;
        height: 250px;
    }    

    /* Profile page */

    .profile.page .main .room-form{
        flex-flow: row;
    }  
    .profile.page .main{
        flex-flow: row;
        margin-top: 1.5rem;
    }
    .profile.page .main .rules{
        max-width: 600px;
    }

    .profile.page .main .player-entry{
        margin-bottom: 0.5rem;
        flex-flow: row;
    }
    .profile.page .main .nickname-entry{
        width: auto;
    }

    /* Error page */

    /* Game Page */

    .game.page .top > h1{
        font-size: 2.7rem;
    }

    /* Wait part */

    /* Teams part */

    .game.page .teams-view .teams-container{
        flex-flow: row;
    }

    .game.page .teams-view .team-container{
        flex-flow: row;
        flex-wrap: wrap;
        height: auto;
        width: 40%;
        margin: 1rem;
    }

    .game.page .teams-view .player-container .profile-picture{
        min-width: 96px;
        min-height: 96px;
        margin-right: 0;
    }

    /* Questions Part */

    .game.page .questions-view{
        flex-flow: row;
        gap: 3rem;
        height: 100%;
    }

    .game.page .questions-view > .box{
        width: 400px;
    }

    /*  */

    

}