/*============ Background ============*/  

.base > .background{
    display: none;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.base > .background div{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 50%;
    filter: blur(4px);
}

/*============ Main ============*/  

body > .base{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.top{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main{
    display: flex;
    flex-flow: column;
}

.room-form{
    display: flex;
    flex-flow: column;
}

.player-entry{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0.5rem;
}

.player-entry > .profile-picture{
    margin-right: 0.5rem;
}

.nickname-entry{
    width: 100%;
}

.nickname-entry > h3{
    padding: 0.3rem 0 0.3rem 0;
}

#nickname{
    width: 100%;
}

.rules{
    max-width: 320px;
    /* max-height: ; */
}

.rules > h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

/*============ Responsive ============*/  

@media screen and (min-width:1000px) {
    .base > .background{
        display: block;
    }
    .room-form{
        flex-flow: row;
    }  
    .main{
        flex-flow: row;
        margin-top: 1.5rem;
    }
    .rules{
        max-width: 600px;
    }

    .player-entry{
        margin-bottom: 0.5rem;
        flex-flow: row;
    }
    .nickname-entry{
        width: auto;
    }
}